.gradle/
.idea/
.kotlin/
resource/
**/build/
shared/__pycache
shared/schemas
shared/google-services.json
tensorflow/
local.properties
SHA256SUMS.txt
spring/.env
*.npy
*.edf
*.keras
*.tflite
spring/src/main/resources/application.yml
ml/data/weather_simulation/*.json
ml/output/train_log.csv